body {
  background-color: #ecede8;
}

.app {
  margin: 20px;
}

.header {
  margin-bottom: 30px;
}

.country-container,
.city-container {
  display: flex;
  flex-wrap: wrap;
}

.country-link,
.city-link {
  margin: 20px;
}

.country-button {
  border-radius: 4px;
  background-color: #944338;
  color: white;
  height: 30px;
  width: 110px;
}

.city-button {
  border-radius: 4px;
  background-color: #7e8e3e;
  color: white;
  font-size: calc(0.1vw + 1.5vh);
  height: 50px;
  width: 150px;
}

/* MODAL */

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #87909e;
  padding: 50px;
}

.modal {
  background-color: #ffffff;
  border-radius: 5px;
  max-width: 500px;
  min-height: 300px;
  margin: 0 auto;
  padding: 30px;
}

/* END MODAL */
