.app {
  margin: 20px;
}

.header {
  margin-bottom: 30px;
}

.country-container,
.city-container {
  display: flex;
  flex-wrap: wrap;
}

.country-link,
.city-link {
  margin: 20px;
}

.country-button,
.city-button {
  border-radius: 4px;
  background-color: #bddfeb;
  color: #242a2d;
  height: 30px;
  width: 130px;
}
