body {
  background-color: #ecede8;
}

.app {
  margin: 20px;
}

.header {
  margin-bottom: 30px;
}

.country-container {
  display: flex;
  flex-wrap: wrap;
}

.country-link,
.city-link {
  margin: 20px;
}

.city-and-shop-container {
  display: flex;
}

.city-container {
  /* /// */
}

.shop-container {
  width: 78%;
}

.country-button {
  border-radius: 4px;
  background-color: #944338;
  color: white;
  height: 30px;
  width: 110px;
}
